<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>quiz</display-name>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question</servlet-name>
    <servlet-class>AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question</servlet-name>
    <url-pattern>/addquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register1</servlet-name>
    <servlet-class>LoginPage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register1</servlet-name>
    <url-pattern>/register1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question1</servlet-name>
    <servlet-class>AddQuestion1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question1</servlet-name>
    <url-pattern>/addquestion1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionHistory</servlet-name>
    <servlet-class>Questionhistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionHistory</servlet-name>
    <url-pattern>/questionhistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionHistory1</servlet-name>
    <servlet-class>Questionhistory1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionHistory1</servlet-name>
    <url-pattern>/questionhistory1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionHistory3</servlet-name>
    <servlet-class>StudentQuesHis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionHistory3</servlet-name>
    <url-pattern>/questionhistory3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateques</servlet-name>
    <servlet-class>Updatequestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateques</servlet-name>
    <url-pattern>/updatequestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteques</servlet-name>
    <servlet-class>Deleteques</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteques</servlet-name>
    <url-pattern>/deletequestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateques1</servlet-name>
    <servlet-class>UpdateTheQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateques1</servlet-name>
    <url-pattern>/updatequestion1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateques2</servlet-name>
    <servlet-class>UpdateNewQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateques2</servlet-name>
    <url-pattern>/updateques</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteques2</servlet-name>
    <servlet-class>DeleteNewQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteques2</servlet-name>
    <url-pattern>/deleteques</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sampletest</servlet-name>
    <servlet-class>SampleTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sampletest</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sampletest2</servlet-name>
    <servlet-class>DisplayMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sampletest2</servlet-name>
    <url-pattern>/Sampletest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sampletest3</servlet-name>
    <servlet-class>Studenttopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sampletest3</servlet-name>
    <url-pattern>/Sampletest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changepassword</servlet-name>
    <servlet-class>ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepassword</servlet-name>
    <url-pattern>/Changepsw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usertesthistory</servlet-name>
    <servlet-class>UserTestHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usertesthistory</servlet-name>
    <url-pattern>/usertesthistory</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>usertesthistory1</servlet-name>
    <servlet-class>TestTopicHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usertesthistory1</servlet-name>
    <url-pattern>/usertesthistory1</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>